.form-control-width {
	/*width:150px !important;*/

}
.form-control {
	border-radius:10px !important;
	border-color: #696a6d !important;
}
.sale-no-padding {
	padding-left: 0px;
	/*padding-right: 0px;*/
}
.sale-form-group-padding {
	padding: 5px;margin: 0;
}
.sale-invoice-details {
	padding-right: 0px !important;
	padding-left: 6px !important;
}
.sale-payment-details {
	padding-right: 0px !important;
	padding-left: 6px !important;
}
.tbl-payment-details > tbody > tr:nth-child(4) > td {
 	font-weight: bold;  
 }
hr {
	border-top: 1px solid #a2c6e4;
}