.form-control-width {
	/*width:150px !important;*/

}
.sale-no-padding {
	padding-left: 0px;
	/*padding-right: 0px;*/
}
.sale-form-group-padding {
	padding: 5px;margin: 0;
}
hr {
	border-top: 1px solid #a2c6e4;
}